<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links)">
<meta charset="utf-8" />
<meta name="description" th:content="#{app.description}" />
<meta name="keywords" th:content="#{app.keywords}" />
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title th:replace="${title}">Title</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}" />

<th:block th:replace="${links}" />
</head>
<body th:fragment="body(nav, content, scripts)"  style="padding-top: 50px; padding-bottom: 50px">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
		<a class="navbar-brand" th:href="@{/}"><b>SBQS</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li th:class="${nav eq 'home'} ? 'active nav-item' : 'nav-item'">
					<a class="nav-link" th:href="@{/}" th:text="#{home.title}">Home<span class="sr-only">(current)</span></a>
				</li>
				<li th:class="${nav eq 'webapi'} ? 'active nav-item' : 'nav-item'"><a class="nav-link" th:href="@{/web/api}">APIs</a></li>
			</ul>
			
			<form class="form-inline my-2 my-lg-0" id="innerLogout" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
      			<div class="dropdown">
					<a class="dropdown-toggle nav-link text-white" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<th:block sec:authentication="name"></th:block> 
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#" onclick="$('#innerLogout').submit()" th:text="#{app.signout}">Sign out</a>
					</div>
				</div>
    		</form>
			<form class="form-inline my-2 my-lg-0" th:action="@{/signin}" method="GET" sec:authorize="!isAuthenticated()">
				<button class="btn btn-success my-2 my-sm-0" type="submit" th:text="#{signin.submit}">Login</button>
			</form>
		</div>
	</nav>
	

	<th:block th:replace="${content}" />


	<nav class="navbar navbar-light fixed-bottom bg-light">
  		<span class="navbar-text">
  			<span th:text="#{app.help}">Any problem, please contact to </span>
    		<a href="mailto:jackie-1685@163.com" th:text="#{app.author}">author</a>
  		</span>
	</nav>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
	<th:block th:replace="${scripts}" />
</body>